{% if params['idProject']%}
    <a class="linkRed" href="/{{ params['codeProject'] }}">{{params['nameProject']|capitalize}}</a>
{% elseif params['category']%}
    <a class="linkRed" href="/">Home</a>
{% else %}
    Home
{% endif %}

{% if params['category'] and params['category'] != 'members' and params['idDetail'] %}
    <img src="/img/lineStraight.png" alt="Ariane divider"/> <a class="linkRed" href="/project/{{ params['idProject'] }}/{{ params['category'] }}" >{{ params['category']|capitalize }}</a>
{% elseif params['category'] %}
    <img src="/img/lineStraight.png" alt="Ariane divider"/> {{ params['category']|capitalize }}
{% endif %}

{% if params['idDetail'] %}
    <img src="/img/lineStraight.png" alt="Ariane divider"/> {{ params['nameDetail']|capitalize }}
{% endif %}