{% if params['idProject']%}
    <a class="linkRed" href="/{{ params['codeProject'] }}">{{params['nameProject']|capitalize}}</a>
{% elseif params['categoryName']%}
    <a class="linkRed" href="/">Home</a>
{% else %}
    Home
{% endif %}

{% if params['categoryName'] and params['categoryName'] != 'members' and params['nameDetail'] %}
    <img src="/img/lineStraight.png" alt="Ariane divider"/> <a class="linkRed" href="{{ params['codeProject'] }}/{{ params['categoryLink'] }}" >{{ params['categoryName']|capitalize }}</a>
{% elseif params['categoryName'] %}
    <img src="/img/lineStraight.png" alt="Ariane divider"/> {{ params['categoryName']|capitalize }}
{% endif %}

{% if params['nameDetail'] %}
    <img src="/img/lineStraight.png" alt="Ariane divider"/> {{ params['nameDetail']|capitalize }}
{% endif %}