<div class="row" id="Presentation">
    <div class="span12">
        <span id="responsiveFlag" ></span>
        <div class="block-slogan">
            <h2>Dashboard</h2>
            <div id="otherInfos">
                <p class="nameHeaderHome" style="color:#a0a0a0;">
                    {{ currentProject.project_name }}
                </p>
                <p class="projectHeaderHome">
                    {{ currentProject.project_description }}
                </p>
                <ul class="tasksHeaderHome">
                    <li>Creator : {{ infosHeader.creator|capitalize }}</li>
                    <li>Creation : {{ currentProject.project_date_create|date("d F Y") }}</li>
                    <li>Members : {{ infosHeader.nb_members_project }}</li>
                </ul>
                <div style="clear: both"></div>
            </div>
        </div>
    </div>
</div>