<div class="row" id="Presentation">
    <div class="span12">
        <span id="responsiveFlag" ></span>
        <div class="block-slogan">
            <h2>Dashboard</h2>
            <div id="otherInfos">
                <p class="nameHeaderHome" style="color:#a0a0a0;">
                    {{ currentProject.project_name }}
                </p>
                <p class="projectHeaderHome">
                    {{ currentProject.project_name }}
                </p>
                <ul class="tasksHeaderHome">
                    <li>Creator : <a class="linkBlack" href="/user/{{ currentProject.creator_code }}">{{ currentProject.creator_login|capitalize }}</a></li>
                    <li>Creation : {{ currentProject.project_date_create }}</li>
                    <li>Expected end : 19/05/1995 </li>
                    <li>Members : 45</li>
                </ul>
                <div style="clear: both"></div>
            </div>
        </div>
    </div>
</div>