{% block header %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>QManager</title>

    <link type="text/css" rel="stylesheet" href="/css/bootstrap/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap/responsive.css">
    <link rel="stylesheet" type="text/css" href="/css/original-style.css" >
    <link rel="stylesheet" type="text/css" href="/css/styles.css" >

    <script type="text/javascript" src="/js/jquery/jquery.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery.cookie.js" ></script>
    <script type="text/javascript" src="/js/jquery/jquery.easing.1.3.js" ></script>
    <script type="text/javascript" src="/js/jquery/jquery-validate.min.js" ></script>
    <script type="text/javascript" src="/js/jquery/jquery.dataTables.min.js" ></script>
    <script type="text/javascript" src="/js/bootstrap/bootstrap.js"></script>
    <script type="text/javascript" src="/js/bootstrap/bootstrap-dropdown.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Jockey+One' rel='stylesheet' type='text/css'>

    <script type="text/javascript" language="javascript" src="/js/master.js" ></script>

    <script type="text/javascript" language="javascript" src="/js/toolBar/toolBar.js" ></script>
    <script type="text/javascript" language="javascript" src="/js/toolBar/toolBarController.js" ></script>
    <style>
        #sortable1 li, #sortable2 li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; width: 120px; }
    </style>

</head>

{% endblock %}
<body>
<input type="hidden" value="{% if alert is defined and alert == true %}{{ alert }}{% else %}false{% endif %}" name="alert" id="alertHeader"/>
{% if SESSION.User is defined %}
    {% set User = SESSION.User %}
    {% set currentProject = SESSION.User.currentProject %}
{% endif %}
<header>
    <div id="panel">
        <div class="navbar navbar-inverse navbar-fixed-top" id="advanced">
            <span class="trigger"><strong></strong><em></em></span>
            <div class="navbar-inner" style="padding-left: 30px">
                <button type="button" class="btn btn-navbar " data-toggle="collapse" data-target=".nav-top-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a class="brand" href="/">QManager</a>
                <div class="nav-collapse collapse nav-top-collapse">
                    <ul id ="toolBar" class="nav">
                        <li class="home"><a href="/"><img src="/img/tm_home.png"></a></li>
                        <li class="divider-vertical"></li>
                        <li>
                            <div class=" headerAdminBlock">
                                <a data-target="#" id="HeaderAction" onclick="javascript:toolBarController(this.id,{% if homeContext == true %}'home'{% else %}{{ User.acl_group_id }}{% endif %});" class="pull-left headerAdminButton" >+</a>
                                <div class=" pull-left headerAdminLinks" >
                                    {% if homeContext is defined %}
                                        <a id="addProjectLink" class="linkBlack pull-left" data-toggle="modal" href="#add-project" onclick="javascript:toolBarLinks(this.id,null,null);">Project</a>
                                    {% else %}

                                        {% if User.acl_group_id <= 3 %}
                                            <a id="addTicketLink" class="linkBlack pull-left" data-toggle="modal" data-target="#modalHeadersLarge">Ticket</a>
                                        {% endif %}

                                        {% if User.acl_group_id == 2 or User.acl_group_id == 1 %}
                                            <a id="addRoadmapLink" class="linkBlack pull-left" data-toggle="modal" href="#add-roadmap" onclick="javascript:toolBarLinks(this.id,'{{ currentProject.project_id }}','{{ currentProject.project_code }}');">Roadmap</a>
                                            <a id="addServiceLink" class="linkBlack pull-left" data-toggle="modal" href="#add-SERVICE" onclick="javascript:toolBarLinks(this.id,'{{ currentProject.project_id }}','{{ currentProject.project_code }}');">Service</a>
                                            <a id="addMemberLink" class="linkBlack pull-left" data-toggle="modal" href="#add-member" data-target="#modalAddMembre">Member</a>
                                            <a id="addAnnounceLink" class="linkBlack pull-left" data-toggle="modal" href="#add-announce" onclick="javascript:toolBarLinks(this.id,'{{ currentProject.project_id }}','{{ currentProject.project_code }}');">Announce</a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                             </div>
                        </li>
                        <li>
                            <div id="HeaderSearchBlock" class=" headerAdminBlock">
                                <img style="margin-top: -14px;" src="/img/arrow.png" alt="Current Project" title="Current Project" />
                                <select id="selectProject" style="margin-top: -3px" onchange="javascript:selectProject(this.value);">
                                    <option value="" {% if homeProject %}selected="selected"{% endif %} >Home</option>
                                    {% for project in projectAll %}
                                    <option {% if currentProject.project_id == project.id %}selected="selected"{% endif %} value="{{project.project_code}}">{{ project.project_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </li>
                        <li class="divider-vertical"></li>
                    </ul>
                    <div id="headerAlert" class="span2 pull-left">

                    </div>
                    <ul id="linkParams" class=" nav pull-right">
                        <li><div class="dropdown">
                                <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" >
                                    Params
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <a href="/account/{{ User.user_login_code }}">My acount</a>
                                    <a href="/my-account">Settings</a>
                                    <a href="/deconnect">Deconnexion</a>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <ul id="notifs" class=" nav pull-right" style="margin-right: 50px;margin-top: 8px;">
                        <li><div class="dropdown">
                                <a class="dropdown-toggle" id="nots" role="button" data-toggle="dropdown" data-target="#" >
                                     6 Notifications
                                    <b class="caret" style="margin-top: 10px"></b>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="nots" >
                                    <a href="#" >No Notifications</a>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="bg-content">
    <div class="container">
        {% include header with {'header' : header } %}
    </div>
    {%  if subMenu == false %}
    <div class="row-fluid" id="subMenuBar">
        <div class="container">
            <div class="span7 offset3">
                <div id="sub-menu">
                    <ul >
                        <li {% if subMenuCurrent == 'dashboard' %}class="current" {% endif %} id="DashboardSubMenu"><a href="/{{ currentProject.project_code }}">Dashboard</a></li>
                        <li {% if subMenuCurrent == 'tickets' %}class="current" {% endif %} id="TicketSubMenu"><a href="/{{ currentProject.project_code }}/tickets">Tickets</a></li>
                        <li {% if subMenuCurrent == 'activity' %}class="current" {% endif %} id="ActivitySubMenu"><a href="/{{ currentProject.project_code }}/activity">Activity</a></li>
                        <li {% if subMenuCurrent == 'organization' %}class="current" {% endif %} id="RoadmapSubMenu"><a href="/{{ currentProject.project_code }}/organization">Organization</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {%  endif %}

    <div id="content" class="content-extra">
        <div class="row-1">

            <div class="container">
                <div class="span12" style="margin-bottom: 20px">
                    {% include '/ariane/ariane.html.twig' with {'params' : paramsAriane }%}
                </div>
                {% block content %}


                {% endblock %}
            </div>
        </div>
    </div>

    {% block footer %}
    <footer>
        <div class="container clearfix">
            <div class="row">
                <article class="span10">
                    <h3>Shortly about us</h3>
                    <div class="wrapper">
                        <div class="inner-1 extra">
                            <p>Students at Sup'internet, Kremlin-Bicêtre France.<br />This website is a school project.<br /> QM let you manage your project. </p>
                            <div class="txt-1">
                                <ul>
                                    <li>Souleymane Diallo</li>
                                    <li>Stéphane Aboulaghras</li>
                                    <li>Alexandre François</li>
                                    <li>Nils</li>
                                    <li>Alexandre Ktifa</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </footer>
</div>
{% endblock %}

{% if homeContext == false %}

    {% if modalChangeMember is defined %}
        <input type="hidden" name="memberTab" id="memberTab" value="{{ memberTab }}" />
        <div id="modalHeaders" class="modal hide fade">

            <header class="modal-header">
                <a href="#" class="close" data-dismiss="modal">x</a>
                <h6>Modify a member</h6>
            </header>

            <div class="modal-body">
                <p id="nameUserChangeMember">

                </p>
                <form id="changeMember" action="" method="post" name="changeMember">
                    <table>
                        <tr>
                            <td><label for="roleChangeMember">Role :</label></td>
                            <td colspan="3">
                                <select id="roleChangeMember">
                                    <option id="creatorRoleChangeMember" value="1">Creator</option>
                                    <option id="adminRoleChangeMember"value="2">Admin</option>
                                    <option id="userRoleChangeMember" value="3">User</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="serviceChangeMember">Service :</label></td>
                            <td colspan="3">
                                <select id="serviceChangeMember">
                                    {% for service in modalChangeMember %}
                                        <option id="serviceChange{{ service.service_code }}" value="{{ service.service_id }}">{{ service.service_name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <input type="hidden" name="idUserChangeMember" id="idUserChangeMember" value=""/>
            <input type="hidden" name="idTabService" id="idTabService" value=""/>
            <input type="hidden" name="idService" id="idService" value=""/>
            <footer class="modal-footer">
                <a href="#" class="btn btn-primary" id="okwin01" onclick="changeMemberInformations('{{ currentProject.project_code }}', {{ currentProject.project_id }})"  >Modify</a>
            </footer>
        </div>
    {% endif %}
<div id="modalHeadersLarge" class="modal hide fade">

    <header class="modal-header">
        <a href="#" class="close" data-dismiss="modal">x</a>
        <h6>Add a Ticket</h6>
    </header>

    <div class="modal-body">
        <form id="addTicket" action="" method="post" name="newTicket" enctype="multipart/form-data">
            <table>
                <tr>
                    <td><label for="nameTicket">Name :</label></td><td colspan="3"><input type="text" name="nameTicket" id="nameTicket"/></td>
                </tr>
                <tr>
                    <td><label for="descTicket">Description :</label></td><td colspan="3"><textarea name="descTicket" id="descTicket" rows="3"></textarea></td>
                </tr>
                <tr>
                    <td><label for="assignedTicket">Assigned to :</label></td>
                    <td>
                        <select name="assignedTicket" id="assignedTicket">
                            {% for members in modalTicket.services %}
                                {% if members.name != 'Not affiliated' %}
                                <option class="selectModalTicketService" disabled="disabled" value="{{ members.id_service }}">{{ members.name|upper }}</option>
                                {% endif %}
                                {% for userTicket in members.members %}
                                    <option {% if userTicket.id == User.id %}selected="selected"{% endif %} value="{{ userTicket.id }}">{{ userTicket.login }}</option>
                                {% endfor %}
                            {% endfor %}
                        </select>
                    </td>
                    <td><label for="deadlineTicket">Deadline :</label></td>
                    <td><input  style="width: 68%"  type="date" name="deadlineTicket" id="deadlineTicket" /></td>
                </tr>
                <tr>
                    <td><label for="priorityTicket">Priority :</label></td>
                    <td>
                        <select name="priorityTicket" id="priorityTicket">
                            <option value="1">Low</option>
                            <option value="2" selected="selected">Normal</option>
                            <option value="3">High</option>
                            <option value="4">Immediate</option>
                        </select>
                    </td>
                    <td><label for="trackerTicket">Tracker :</label></td>
                    <td>
                        <select  style="width: 75%" name="trackerTicket" id="trackerTicket">
                            <option value="1" selected="selected">Evolution</option>
                            <option value="2">Bug</option>
                            <option value="3">Support</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="roadmapTicket">Link to a roadmap :</label></td>
                    <td id="selectRoadmap">
                        <select name="roadmapTicket" id="roadmapTicket">
                            <option selected="select" value="0">No roadmap linked</option>
                            {% for roadmap in modalTicket.roadmaps %}
                                <option value="{{ roadmap.id }}">{{ roadmap.title }}</option>
                            {% endfor %}
                        </select>
                    </td>

                    <td><label for="estimateTicket">Estimate time :</label></td>
                    <td id="selectRoadmap">
                        <input type="text" style="width: 30%" name="estimateTicket" id="estimateTicket" value="0" />
                        hours
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <footer class="modal-footer">
        <a href="#" class="btn btn-primary" id="okwin01" onclick="toolBarSubmit('modifyTicket','{{ currentProject.project_id }}}','{{ currentProject.project_code }}')">Add</a>
    </footer>
</div>
  
<div id="modalAddMembre" class="modal hide fade">       
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">x</a>
        <h6>Add a Member </h6>
    </div>

    <div class="modal-body">
        <form id="addMember" action="" method="post" name="newMember">
            <table>
                <tr>
                    <td><label for="loginMember1">Login :</label></td><td colspan="3"><input data-provide="typeahead" type="text" name="loginMember1" id="loginMember1" data-source='[{% for user in tabUsers %} "{{user}}"{% if loop.last %}{% else %},{% endif %}{% endfor %}]' /></td>
                </tr>
                <tr>
                    <td><label for="loginMember2"></label></td><td colspan="3"><input data-provide="typeahead" type="text" name="loginMember2" id="loginMember2" data-source='[{% for user in tabUsers %} "{{user}}"{% if loop.last %}{% else %},{% endif %}{% endfor %}]' /></td>
                </tr>
                <tr>
                    <td><label for="loginMember3"></label></td><td colspan="3"><input data-provide="typeahead" type="text" name="loginMember3" id="loginMember3" data-source='[{% for user in tabUsers %} "{{user}}"{% if loop.last %}{% else %},{% endif %}{% endfor %}]' /></td>
                </tr>
                <tr>
                    <td><label for="loginMember4"></label></td><td colspan="3"><input data-provide="typeahead" type="text" name="loginMember4" id="loginMember4" data-source='[{% for user in tabUsers %} "{{user}}"{% if loop.last %}{% else %},{% endif %}{% endfor %}]' /></td>
                </tr>
                <tr>
                    <td><label for="loginMember5"></label></td><td colspan="3"><input data-provide="typeahead" type="text" name="loginMember5" id="loginMember5" data-source='[{% for user in tabUsers %} "{{user}}"{% if loop.last %}{% else %},{% endif %}{% endfor %}]' /></td>
                </tr>
            </table>
        </form>
    </div>

    <div class="modal-footer">
        
        <a href="#" class="btn btn-primary" id="okwin01" onclick="toolBarSubmit('membre', '{{ currentProject.project_id }}','{{ currentProject.project_code }}')">Add</a>
    </div>
</div>
        
        
        
        {% if currentPage == 'dashboard' %}
            <input type='hidden' name="modalReferer" id="modalReferer" value="{{ currentProject.project_code }}" />
        {% elseif detailContext %}
            <input type='hidden' name="modalReferer" id="modalReferer" value="{{ currentProject.project_code }}/{{ currentPage }}/{{ detailCode }}" />
        {% else %}
            <input type='hidden' name="modalReferer" id="modalReferer" value="{{ currentProject.project_code }}/{{ currentPage }}" />
        {% endif %}
{% endif %}
            
            

</body>
</html>
