{% extends 'layout.html.twig' %}

{% block content %}
    <div id="contentLeft" class="span7" >
        </article>

    </div>
    <div id="contentRight" class="span4 offset1 pull-right" >
        <article class="span4 ">
            <h4> Created Projects : </h4>
            {% if list_project_created|length == 0 %}
                No project
            {% else %}
            <ul class="homeProjectList">
                {% for project in list_project_created %}
                    <li><a href="/{{ project.project_code }}">{{ project.project_name }}</a></li>
                {% endfor %}
            </ul>
                {% endif %}
        </article>
        <article class="span4 ">
            <h4>Affiliated Projects : </h4>
            {% if list_project_affiliated|length == 0 %}
                No project
            {% else %}
                <ul class="homeProjectList">
                    {% for project in list_project_affiliated %}
                        <li><a href="/{{ project.project_code }}">{{ project.project_name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% if User.user_login_code != user.getUser_login_code() and list_project_commun|length != 0 %}
        </article>
            <article class="span4 ">
            <h4>Commun Projects : </h4>
            
            <ul class="homeProjectList">
                {% for project in list_project_commun %}
                    <li><a href="/{{ project.project_code }}">{{ project.project_name }}</a></li>
                {% endfor %}
            </ul>
        </article>
        {% endif %}
    </div>
{% endblock %}