    {% extends 'layout.html.twig' %}

{% block content %}
    <div id="contentLeft" class="span7" >
        <article class="span7 announceHome">
            <h4>Last news :</h4>
            <div class="span7">
                {% if notif_center is defined %}
                    {% for notif in notif_center %}
                        {% if notif.type_name == 'newAnnounce' %}
                            <p class="nameListAnnonces">
                                <a class="linkRed" href="/{{ currentProject.project_code }}/organization">Announce</a> - {{ notif.create_at|date('m-d-Y h:m') }}
                            </p>
                            <p class="titleListAnnonces">
                                <img src="/img/lineBack.png" title="title" alt="title"><a class="linkRed" href="/{{ currentProject.project_code }}/announce/{{ notif.announce_code }}">{{ notif.announce_title }}</a>
                            </p>
                            <p class="descListAnnonces">
                                {{ notif.announce_description }}
                            </p>
                        {% elseif notif.type_name == 'newRoadmap' %}
                            <p class="nameListAnnonces">
                                <a class="linkRed" href="/{{ currentProject.project_code }}/organization">Roadmap</a> - {{ notif.create_at|date('m-d-Y h:m') }}
                            </p>
                            <p class="titleListAnnonces">
                                <img src="/img/lineBack.png" title="title" alt="title"><a class="linkRed" href="/{{ currentProject.project_code }}/roadmap/{{ notif.roadmap_code }}">{{ notif.roadmap_title }}</a>
                            </p>
                            <p class="descListAnnonces">
                                {{ notif.roadmap_description }}
                            </p>
                        {% elseif notif.type_name == 'newTicket' %}
                            <p class="nameListAnnonces">
                                <a class="linkRed" href="/{{ currentProject.project_code }}/tickets">Ticket</a> - {{ notif.create_at|date('m-d-Y h:m') }}
                            </p>
                            <p class="titleListAnnonces">
                                <img src="/img/lineBack.png" title="title" alt="title"><a class="linkRed" href="/{{ currentProject.project_code }}/ticket/{{ notif.ticket_code }}">{{ notif.ticket_name }}</a>
                            </p>
                            <p class="descListAnnonces">
                                {{ notif.ticket_description }}
                            </p>
                        {% elseif notif.type_name == 'newService' %}
                            <p class="nameListAnnonces">
                                <a class="linkRed" href="/{{ currentProject.project_code }}/organization">Service</a> - {{ notif.create_at|date('m-d-Y h:m') }}
                            </p>
                            <p class="titleListAnnonces" style="margin-bottom: 15px">
                                <img src="/img/lineBack.png" title="title" alt="title">{{ notif.service_name }}
                            </p>
                        {% elseif notif.type_name == 'newMember' %}
                            <p class="nameListAnnonces">
                                <a class="linkRed" href="/{{ currentProject.project_code }}/organization">Member</a> - {{ notif.create_at|date('m-d-Y h:m') }}
                            </p>
                            <p class="titleListAnnonces" style="margin-bottom: 15px">
                                <img src="/img/lineBack.png" title="title" alt="title"><a class="linkRed" href="/account/{{ notif.user_dest.user_login_code }}">{{ notif.user_dest.user_login }}</a> is a new member of the project !
                            </p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </article>

    </div>
    <div id="contentRight" class="span4 offset1 pull-right" >
        <article class="span4 ">
            <h4> Resume : </h4>
            <ul id="listSuiviMembers">
                <li><a href="/{{ currentProject.project_code }}/tickets">Tickets</a> : {{ statDash.totalTicket }} </span></li>
                <li><a href="/{{ currentProject.project_code }}/organization">Roadmaps</a> : {{ statDash.totalRoadmap }}</span></li>
                <li><a href="/{{ currentProject.project_code }}/organization">Announces</a> : {{ statDash.totalAnnounce }}</span></li>
            </ul>
        </article>
    </div>
{% endblock %}