{% extends 'layout.html.twig' %}

{% block content %}
    <div id="contentLeft" class="span9" >
        <article class="span9 announceHome">
            <h4>{{ entity.roadmap_title|capitalize }}</h4>
            <p>{{ entity.roadmap_description|capitalize }}</p>

                <div class="progress progress-striped active advanceBar">
                    <div class="bar" style="width: {{ entity.progress.progress }}%;"></div>
                </div>
                <div class="infoRoadMapBar">{{ entity.progress.finished }} / {{ entity.progress.total }} tickets</div>
                <div class="clear-fix"></div>
                <table class="roadmapTable table table-list " >
                    <thead>
                    <tr style="border: none;">
                        <th style="width: 10%;border-top: none">ID</th>
                        <th class="notTooSmall" style="border-top: none">Titre</th>
                        <th style="width: 20%;border-top: none">To:</th>
                        <th style="width: 20%;border-top: none">Deadline</th>
                        <th style="width: 10%;border-top: none">Statut</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if entity.tickets is defined %}
                        {% for ticket in entity.tickets %}
                            <tr>
                                <td><a class="linkBlack" href="/{{ currentProject.project_code }}/ticket/{{ ticket.ticket_code }}" >{{ ticket.ticket_id }}</a></td>
                                <td class="notTooSmall"><a class="linkBlack" href="/{{ currentProject.project_code }}/ticket/{{ ticket.ticket_code }}" >{{ ticket.ticket_name }}</a></td>
                                <td><a class="linkBlack" href="/user/{{ ticket.user_login_code }}" >{{ ticket.user_login}}</a></td>
                                <td>{{ ticket.ticket_deadline|date('m-d-Y') }}</td>
                                <td style="text-align: center">
                                    {%  if ticket.statut_id == 1 %}
                                        <img src="/img/assigned.png" title="Assigned" alt="Assigned" />
                                    {%  elseif ticket.statut_id == 2 %}
                                        <img src="/img/working.png" title="In Progress" alt="In Progress" />
                                    {%  elseif ticket.statut_id == 3 %}
                                        <img src="/img/check.png" title="Resolved" alt="Resolved" />
                                    {%  elseif ticket.statut_id == 4 %}
                                        <img src="/img/closed.png" title="Closed" alt="Closed" />
                                    {%  elseif ticket.statut_id == 5 %}
                                        <img src="/img/canceled.png" title="Canceled" alt="Canceled" />
                                    {%  endif  %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>

            <div class="dividerBlock span9"></div>
            <h4>Comments : </h4>
            <p class="pseudoComment pull-left"><a class="linkBlack" href="" >AlexKtf</a></p><p class="pull-left dateComment">&nbsp;- 16/48/4955 16:31</p>
            <div class="clear"></div>
            <p>psoefkposekfposkefôskefosopefsoefkospef</p>
            <p class="pseudoComment pull-left"><a class="linkBlack" href="" >AlexKtf</a></p><p class="pull-left dateComment">&nbsp;- 16/48/4955 16:31</p>
            <div class="clear"></div>
            <p>psoefkposekfposkefôskefosopefsoefkospef</p>
            <p class="pseudoComment pull-left"><a class="linkBlack" href="" >AlexKtf</a></p><p class="pull-left dateComment">&nbsp;- 16/48/4955 16:31</p>
            <div class="clear"></div>
            <p>psoefkposekfposkefôskefosopefsoefkospef</p>


        </article>

    </div>
{% endblock %}