{% extends 'layout.html.twig' %}

{% block content %}
    <div id="contentLeft" class="span9" >
        <article class="span9 announceHome">
            <h4>{{ entity.roadmap_title|capitalize }}</h4>
            <p>{{ entity.roadmap_description|capitalize }}</p>

                <div class="progress progress-striped active advanceBar">
                    <div class="bar" style="width: {{ entity.progress.progress }}%;"></div>
                </div>
                <div class="infoRoadMapBar">{{ entity.progress.finished }} / {{ entity.progress.total }} tickets</div>
                <div style="clear: both"></div>
                <table class="roadmapTable table table-list " >
                    <thead>
                    <tr style="border: none;">
                        <th style="width: 10%;border-top: none">ID</th>
                        <th class="notTooSmall" style="border-top: none">Titre</th>
                        <th style="width: 20%;border-top: none">To:</th>
                        <th style="width: 20%;border-top: none">Deadline</th>
                        <th style="width: 10%;border-top: none">Statut</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if entity.tickets is defined %}
                        {% for ticket in entity.tickets %}
                            <tr>
                                <td><a class="linkBlack" href="/{{ currentProject.project_code }}/ticket/{{ ticket.ticket_code }}" >{{ ticket.ticket_id }}</a></td>
                                <td class="notTooSmall"><a class="linkBlack" href="/{{ currentProject.project_code }}/ticket/{{ ticket.ticket_code }}" >{{ ticket.ticket_name }}</a></td>
                                <td><a class="linkBlack" href="/user/{{ ticket.user_login_code }}" >{{ ticket.user_login}}</a></td>
                                <td>{{ ticket.ticket_deadline|date('m-d-Y') }}</td>
                                <td style="text-align: center">
                                    {%  if ticket.statut_id == 1 %}
                                        <img src="/img/assigned.png" title="Assigned" alt="Assigned" />
                                    {%  elseif ticket.statut_id == 2 %}
                                        <img src="/img/working.png" title="In Progress" alt="In Progress" />
                                    {%  elseif ticket.statut_id == 3 %}
                                        <img src="/img/check.png" title="Resolved" alt="Resolved" />
                                    {%  elseif ticket.statut_id == 4 %}
                                        <img src="/img/closed.png" title="Closed" alt="Closed" />
                                    {%  elseif ticket.statut_id == 5 %}
                                        <img src="/img/cancel.png" title="Canceled" alt="Canceled" />
                                    {%  endif  %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>

            <div class="dividerBlock span9"></div>
            <div id="ticketInfos" style="display:none;">
                <h4>Comments : </h4>
                {% if entity.user_id == User.id or entity.creator_id == User.id or (User.acl_group_id == 2 or User.acl_group_id == 1) %}
                    <div id="modifTicketInfos" >
                        <a class="pull-right" onclick="" data-toggle="modal" data-target="#modalHeaders " id="addCommentLink">+</a>
                    </div>
                {% endif %}

                {% for comment in comments %}
                    <p class="pseudoComment pull-left"><a class="linkBlack" href="/account/{{ comment.user_login_code }}" >{{ comment.user_login }}</a></p><p class="pull-left dateComment">&nbsp;- {{ comment.comment_date_create }}</p>
                    <div class="clear"></div>
                    <p>{{ comment.comment_description }}</p>

                {% else %}
                    No comments
                {% endfor %}
            </div>


        </article>

    </div>

    <div id="modalHeaders" class="modal hide fade">
        <!-- first modal window -->
        <header class="modal-header">
            <a href="#" class="close" data-dismiss="modal">x</a>
            <h6>Add a Comment</h6>
        </header>

        <div class="modal-body">
            <form id="addComment" action="" method="post" name="newComment">
                <table>
                    <tr>
                        <td><label for="commentText">Comment :</label><td colspan="3"><textarea name="commentText" id="commentText" rows="5"></textarea></td>
                        <input type="hidden" value="{{ roadmapId }}" id="commentEntityId"/>
                        <input type="hidden" value="2" id="commentType"/>
                        <input type="hidden" value="{{ currentProject.project_code }}/new-comment" id="modalCommentsReferer"/>
                        <input type="hidden" value="{{ entity.roadmap_title }}" id="commentEntityName"/>
                    </tr>
                </table>
            </form>
        </div>

        <footer class="modal-footer">
            <a href="#" class="btn btn-primary" id="okwin01" onclick="toolBarSubmit('comment', '[project_name]', '[project_code]')">Comment</a>
        </footer>
    </div>
{% endblock %}