{% extends 'layout.html.twig' %}

{% block content %}
    <div id="contentLeft" class="span7" >
        <article class="span7 announceHome">
            <h4>Last news :</h4>
            <div class="span7">
                {% if notif_center is defined %}
                    {% for notif in notif_center %}
                        {% if notif.type_name == 'newAnnounce' %}
                            <p class="nameListAnnonces">
                                <a class="linkRed" href="/{{ notif.project_code }}" >{{ notif.project_name }}</a> - <a class="linkRed" href="/{{ notif.project_code }}/organization">Announce</a> - {{ notif.announce_date_create|date('m-d-Y') }}
                            </p>
                            <p class="titleListAnnonces">
                                <img src="/img/lineBack.png" title="title" alt="title"><a class="linkRed" href="/{{ notif.project_code }}/announce/{{ notif.announce_code }}">{{ notif.announce_title }}</a>
                            </p>
                            <p class="descListAnnonces">
                                {{ notif.announce_description }}
                            </p>
                        {% elseif notif.type_name == 'newRoadmap' %}
                            <p class="nameListAnnonces">
                                <a class="linkRed" href="/{{ notif.project_code }}" >{{ notif.project_name }}</a> - <a class="linkRed" href="/{{ notif.project_code }}/organization">Roadmap</a> - {{ notif.roadmap_date_create|date('m-d-Y') }}
                            </p>
                            <p class="titleListAnnonces">
                                <img src="/img/lineBack.png" title="title" alt="title"><a class="linkRed" href="/{{ notif.project_code }}/roadmap/{{ notif.roadmap_code }}">{{ notif.roadmap_title }}</a>
                            </p>
                            <p class="descListAnnonces">
                                {{ notif.roadmap_description }}
                            </p>
                        {% elseif notif.type_name == 'newTicket' %}
                            <p class="nameListAnnonces">
                                <a class="linkRed" href="/{{ notif.project_code }}" >{{ notif.project_name }}</a> - <a class="linkRed" href="/{{ notif.project_code }}/tickets">Ticket</a> - {{ notif.ticket_date_create|date('m-d-Y') }}
                            </p>
                            <p class="titleListAnnonces">
                                <img src="/img/lineBack.png" title="title" alt="title"><a class="linkRed" href="/{{ notif.project_code }}/ticket/{{ notif.ticket_code }}">{{ notif.ticket_name }}</a>
                            </p>
                            <p class="descListAnnonces">
                                {{ notif.ticket_description }}
                            </p>
                        {% elseif notif.type_name == 'newService' %}
                            <p class="nameListAnnonces">
                                <a class="linkRed" href="/{{ notif.project_code }}" >{{ notif.project_name }}</a> - <a class="linkRed" href="/{{ notif.project_code }}/organization">Service</a>
                            </p>
                            <p class="titleListAnnonces" style="margin-bottom: 15px">
                                <img src="/img/lineBack.png" title="title" alt="title">{{ notif.service_name }}
                            </p>
                        {% elseif notif.type_name == 'newMember' %}
                            <p class="nameListAnnonces">
                                <a class="linkRed" href="/{{ notif.project_code }}" >{{ notif.project_name }}</a> - <a class="linkRed" href="/{{ notif.project_code }}/organization">Member</a>
                            </p>
                            <p class="titleListAnnonces" style="margin-bottom: 15px">
                                <img src="/img/lineBack.png" title="title" alt="title"><a class="linkRed" href="/account/{{ notif.user_dest.user_login_code }}">{{ notif.user_dest.user_login }}</a> is a new member of the project !
                            </p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </article>

    </div>
    <div id="contentRight" class="span4 offset1 pull-right" >
        <article class="span4 ">
            <h4>My Projects : </h4>
            <ul class="homeProjectList">
                {% for project in list_project_created %}
                    <li><a href="/{{ project.project_code }}">{{ project.project_name }}</a></li>
                {% endfor %}

            </ul>
        </article>
        <article class="span4 ">
            <h4>Affiliated Projects : </h4>
            <ul class="homeProjectList">
                {% for project in list_project_affiliated %}
                    <li><a href="/{{ project.project_code }}">{{ project.project_name }}</a></li>
                {% endfor %}
            </ul>
        </article>
    </div>
{% endblock %}