{% extends 'layout.html.twig' %}

{% block content %}
    <div id="contentLeft" class="span9" >
        <article id="memberByService" class="roadMap">
            <h4>Members :</h4>

            {% if members is defined %}
                <div id="tabs">
                    <ul id="servicesTabs" style="list-style-type: none">
                        {% for service in members %}
                                <li  style="min-width: 10px;float: left"><a href="#{{ service.infoService.service_code }}">{{ service.infoService.service_name }}</a></li>
                        {% endfor %}
                    </ul>
                    <div style="clear: both"></div>
                    <br />
                        {% for service in members %}

                            {% set current_service = service.infoService.service_code %}
                            <div class="tabListUser" id="{{ service.infoService.service_code }}">
                                {% set turn = loop.index0 %}
                                {% if service.infoUsers == 'none' %}
                                    {% if service.infoService.service_code == 'not-affiliated' %}
                                        All the members are affiliated to a service
                                    {% else %}
                                        No members in this service
                                    {% endif %}
                                {% else %}
                                    {% for user in service.infoUsers %}
                                        {% if user.right == 1 %}
                                            {% set right = 'Creator' %}
                                        {% elseif user.right == 2 %}
                                            {% set right = 'Admin' %}
                                        {% elseif user.right == 3 %}
                                            {% set right = 'User' %}
                                        {% endif %}
                                        <div class="blockUser span3" onmouseover="javascript:changeModal({{ user.id }},'{{ user.user_login }}','{{ right }}',{{ turn }}, '{{ current_service }}');">
                                            <a class="linkBlack" href="/account/{{ user.user_login_code }}" >{{ user.user_login }}</a>
                                            <img class="imgListUserStraight" src="/img/lineStraight.png" title="Right" alt="Right" />
                                            <span class="rightListUser">
                                                {{ right }}
                                            </span>
                                            {% if User.acl_group_id != 3 and User.acl_group_id != 4 and right != 'Creator' and User.acl_group_id != user.right or users.id == User.user_id %}
                                            <a class="changeServiceLink linkBlack pull-right" onclick="" data-toggle="modal" data-target="#modalHeaders"><img src="/img/settings.png" alt="Change right and service" title="Change right and service" /></a>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endfor %}
                </div>

                <div style="clear: both"></div>

            {% endif %}
        </article>
        <div class="span9 dividerBlock"></div>
        <article class="roadMap">
            <h4>Announces :</h4>
            {% for announce in announces %}
            <div class="span9" style="margin-bottom: 10px">
                <p class="nameListAnnonces">
                    Posted by : <a class="linkRed" href="/account/{{ announce.user_login_code }}" >{{ announce.user_login }}</a> - {{ announce.announce_date_create|date('m-d-Y') }} - Comments :
                </p>
                <p class="titleListAnnonces">
                    <img src="/img/lineBack.png" title="Announce" alt="Announce">
                    <a class="linkRed" href="/{{ currentProject.project_code }}/announce/{{ announce.announce_code }}">{{ announce.announce_title }}</a>
                </p>
            </div>
            {% else %}
                No Announces
            {% endfor %}

        </article>
        <div class="span9 dividerBlock"></div>
        <article class="roadMap">
            <h4>Roadmaps :</h4>
            {% for roadmap in roadmaps %}
                <div class="span9" style="margin-bottom: 10px">
                    <p class="nameListAnnonces">
                        Posted by : <a class="linkRed" href="/account/{{ roadmap.user_login_code }}" >{{ roadmap.user_login }}</a> - {{ roadmap.roadmap_date_create|date('m-d-Y') }} - Comments :
                    </p>
                    <p class="titleListAnnonces">
                        <img src="/img/lineBack.png" title="Announce" alt="Announce">
                        <a class="linkRed" href="/{{ currentProject.project_code }}/roadmap/{{ roadmap.roadmap_code }}">{{ roadmap.roadmap_title }}</a>
                    </p>
                </div>
            {% else %}
                No Roadmaps
            {% endfor %}
        </article>
    </div>
    <div class="clear-fix"></div>
{% endblock %}